[submodule "themes/hugo-terminal.css"]
	path = themes/hugo-terminal.css
	url = https://github.com/greenmatthew/hugo-terminal.css.git
[submodule "static/dnd-near"]
	path = static/dnd-near
	url = https://github.com/greenmatthew/dnd-near.git
[submodule "static/monthly-budget-planner"]
	path = static/monthly-budget-planner
	url = https://github.com/greenmatthew/monthly-budget-planner.git
