{{ define "main" }}
    <h1><a href="{{ .Permalink }}">{{ .Title }}</a></h1>

    {{ with .Params.PreviewImage }}
        {{ if .src }}
            {{ $imageParams := dict "src" .src "size" "medium" }}
            
            {{ with .attribution }}
                {{ $imageParams = merge $imageParams (dict "attribution" .) }}
            {{ end }}
            
            {{ partial "media/image.html" $imageParams }}
        {{ end }}
    {{ end }}

    <div class="content">
        {{ .Content }}
    </div>
{{ end }}
