<!-- layouts/partials/image-processor.html -->
{{ $src := .src }}

{{ $img := resources.Get $src }}

{{ $href := .href }}

{{ if not $img }}
    {{ errorf "Image not found: %s" $src }}
{{ end }}

{{ $fallbackUrl := $img.RelPermalink }}

{{ $filter := images.Process "webp" }}
{{ $imgWebp := $img.Filter $filter }}

{{ if not $imgWebp }}
    {{ errorf "WebP conversion failed for image: %s" $src }}
{{ end }}

{{ $defaultUrl := $imgWebp.RelPermalink }}

{{ if $href }}
<a href="{{ $href }}">
{{ end }}
    <picture>
        <source srcset="{{ $defaultUrl }}" type="image/webp">
        <img src="{{ $fallbackUrl }}" alt="{{ .alt }}" class="{{ .class }}">
    </picture>
{{ if $href }}
</a>
{{ end }}
