<!-- layouts/partials/video.html -->
{{ $src := .src }}
{{ $fallbackSrc := .fallbackSrc }}
{{ $caption := .caption }}
{{ $controls := default true .controls }}
{{ $autoplay := default false .autoplay }}
{{ $loop := default false .loop }}
{{ $muted := default false .muted }}
{{ $lazyLoading := default false .lazyLoading }}

{{ $video := resources.Get $src }}
{{ $fallbackVideo := resources.Get $fallbackSrc }}

{{ if not $video }}
    {{ errorf "Video not found: %s" $src }}
{{ end }}

<figure>
    <video
        {{ if $controls }} controls {{ end }}
        {{ if $autoplay }} autoplay {{ end }}
        {{ if $loop }} loop {{ end }}
        {{ if $muted }} muted {{ end }}
        {{ if $lazyLoading }} loading="lazy" {{ end }}
        class="centered responsive">
        <source src="{{ $video.Permalink }}" type="video/{{ $video.MediaType.SubType }}">
        {{ if $fallbackVideo }} <source src="{{ $fallbackVideo.Permalink }}" type="video/{{ $fallbackVideo.MediaType.SubType }}"> {{ end }}
        Your browser does not support the video tag.
    </video>
    {{ if $caption }} <figcaption> {{ $caption }} </figcaption> {{ end }}
</figure>

<br />