{{ define "main" }}
  <!-- Custom content for the main index page -->
  {{ partial "module-content.html" (dict "context" . "pageRef" "headless/about-me") }}
  {{ partial "module-content.html" (dict "context" . "pageRef" "headless/projects") }}
  {{ partial "module-content.html" (dict "context" . "pageRef" "headless/skills") }}
  {{ partial "module-content.html" (dict "context" . "pageRef" "headless/work-experience") }}
  {{ partial "module-content.html" (dict "context" . "pageRef" "headless/education") }}
{{ end }}
