<!-- layouts/shortcodes/project-listings.html -->
{{ range sort (where $.Site.RegularPages "Type" "project") "Params.priority" "asc" }}
    {{ if isset .Params "priority" }}
        {{ $priority := .Params.priority }}
        {{ if ge $priority 0 }}
            {{/*  <p>Debug: Found a project page titled '{{ .Title }}' with priority '{{ $priority }}'</p>  */}}

            <h3><a href="{{ .RelPermalink }}">{{ .Title }}</a></h3>
            
            {{ partial "display-preview-image.html" . }}

            <p> {{ .Summary }} </p>

            <p>You can learn more about this project <a href="{{ .RelPermalink }}">here</a>.</p>

        {{ end }}
    {{ else }}
        {{ errorf "Priority not set for project '%s' (file: %s)" .Title .File.Path }}
    {{ end }}
{{ end }}
