<!-- layouts/shortcodes/project-listings.html -->
{{ range sort (where $.Site.RegularPages "Type" "project") "Params.priority" "asc" }}
    {{ if isset .Params "priority" }}
        {{ $priority := .Params.priority }}
        {{ if ge $priority 0 }}
            {{ $pageLink := .RelPermalink }}
            {{ $currentPage := . }}
            <h3><a href="{{ $pageLink }}">{{ .Title }}</a></h3>
            
            {{ with .Params.previewImage }}
                {{ if .src }}
                    {{ $imageParams := (dict 
                        "src" .src 
                        "size" "medium"
                        "lightbox" "false"
                        "link" $pageLink
                        "page" $currentPage
                    ) }}
                    
                    {{ with .attribution }}
                        {{ $imageParams = merge $imageParams (dict "attribution" .) }}
                    {{ end }}
                    
                    {{ partial "media/image.html" $imageParams }}
                {{ end }}
            {{ end }}

            <p>{{ .Summary }}</p>

            <p>You can learn more about this project <a href="{{ .RelPermalink }}">here</a>.</p>
        {{ end }}
    {{ else }}
        {{ errorf "Priority not set for project '%s' (file: %s)" .Title .File.Path }}
    {{ end }}
{{ end }}