<div class="terminal-timeline">
    <div class="terminal-card">
        <header>
            <b>Unity / VR / Game Console Engineer</b>
        </header>
        <div>
            <center>
                <p>
                    Jan. 2024 - Feb. 2025
                    <br>
                    <b>Rad TV</b>
                    <br>
                    Remote
                </p>
            </center>
            <p>
                Developed and maintained the <b>PlayStation VR2 (PSVR2) version</b> of Rad TV for PS5, a hybrid media streaming application—the first of its kind on the PS5.
            </p>
            <ul>
                <li>Independently brought an incomplete <b>PS4 + PSVR port</b> to a <b>fully functional PSVR2 release</b>.</li>
                <li>Successfully navigated <b>Sony's QA approval process</b>, resolving compliance issues under tight deadlines. This was uniquely challenging as this was the <b>first and only hybrid media application</b> approved for release on PS5.</li>
                <li>Fixed <b>user-reported bugs post-launch</b> and implemented <b>performance improvements</b>.</li>
                <li>Led major updates, including <b>DLNA/UPnP support</b>, expanding media accessibility.</li>
                <li>Managed development tasks using <b>Kanban-style boards</b> to track progress.</li>
                <li>Maintained <b>meticulous documentation</b>, including user guides and changelogs, to ensure transparency and usability.</li>
            </ul>
        </div>
    </div>
    <div class="terminal-card">
        <header>
            <b>XR Technology Programmer</b>
        </header>
        <div>
            <center>
                <p>
                    Feb. 2022 - Oct. 2023
                    <br>
                    <b>University of Texas at Arlington</b>
                    <br>
                    Arlington, TX
                </p>
            </center>
            <p>
                Independently developed a <strong><a href="https://www.matthewgreen.gg/cad-model-viewer/">VR application</a></strong> for the <strong>Mechanical and Aerospace Engineering Department</strong> at UTA, as part of a <a href="https://mevrstudy.uta.edu">study program</a>. The application introduces students to Computer-Aided Design (CAD) concepts in an immersive 3D environment, enabling real-time interaction with CAD models alongside video lessons.
            </p>
            <ul>
                <li>Worked directly with professor <a href="https://www.uta.edu/academics/faculty/profile?username=fernande#About%20Me">Dr. Raul Fernandez</a> to iteratively develop the app, providing him research as well as personal and technical insights.</li>
                <li>Designed, implemented, and documented tools for professors to create <strong>VR experiences</strong> that engage students with interactive CAD models while following video lessons.</li>
                <li>Developed cross-platform compatibility for <strong>Google Cardboard (Android), SteamVR (Windows), and Meta Quest devices</strong>.</li>
                <li>Worked independently to research, prototype, and refine the application using Unity and C#.</b></li>
            </ul>
        </div>
    </div>
    <div class="terminal-card">
        <header>
            <b>Designated Hitter</b>
        </header>
        <div>
            <center>
                <p>
                    Mar. 2020 - Mar. 2020
                    <br>
                    <b>Walgreens</b>
                    <br>
                    North Richland Hills, TX
                </p>
            </center>
            <p>
                Promoted after applying for and receiving a <b>Pharmacy Technician Trainee Certification</b>, which made me eligible to begin training as a Pharmacy Technician. I had just started computer-based training and was preparing to take on pharmacy responsibilities when my family asked me to step away due to concerns about working in a pharmacy during the Covid pandemic.
            </p>
        </div>
    </div>
    <div class="terminal-card">
        <header>
            <b>Customer Service Associate</b>
        </header>
        <div>
            <center>
                <p>
                    Aug. 2019 - Feb. 2020
                    <br>
                    <b>Walgreens</b>
                    <br>
                    North Richland Hills, TX
                </p>
            </center>
            <p>
                Provided excellent customer service in a fast-paced retail environment, assisting customers while handling transactions, managing shelf inventory, processing photo orders, and performing various other store operations as needed.
            </p>
        </div>
    </div>
</div>