<div class="terminal-timeline">
    <div class="terminal-card">
        <header>
            <b>XR Technology Programmer</b>
        </header>
        <div>
            <center>
                <p>
                    Feb. 2022 - Oct. 2023
                    <br>
                    University of Texas at Arlington
                    <br>
                    Arlington, TX
                </p>
            </center>
            <p>
                I was engaged by <a href="https://www.uta.edu/academics/faculty/profile?username=fernande#About%20Me">Dr. Raul Fernandez</a>, from the Mechanical and Aerospace Engineering Department at UTA, to independently develop a <a href="https://www.matthewgreen.gg/cad-model-viewer.php">VR application</a> for his innovative <a href="https://mevrstudy.uta.edu">Mechanical Engineering VR study program</a>. The application is designed to introduce students to Computer Aided Design (CAD) concepts within an immersive 3D virtual environment. The utilization of VR technology facilitates a focused interaction with CAD models, allowing students to engage in real-time exploration while following video lessons.
            </p>
            <p>
                It has been developed to be compatible with a wide range of devices including Google Cardboard for Android, SteamVR for Windows, and Meta (Oculus) Quest devices. Future updates will extend compatibility to more operating systems within each platform, providing students with an array of choices for accessing the app.
            </p>
            <p>
                Over two years of dedicated development, I honed a high degree of proficiency in Unity and C# programming, bolstering my confidence in tackling complex projects within this framework. The application achieved a refined state, poised to significantly aid students in their learning journey. Although it was ready for deployment, the integration of educational content was pending due to my superior\'s other commitments. Nonetheless, I utilized this time to further polish the application and add quality of life features, ensuring an intuitive and enriching user experience upon its eventual deployment.
            </p>
        </div>
    </div>
    <div class="terminal-card">
        <header>
            <b>Designated Hitter</b>
        </header>
        <div>
            <center>
                <p>
                    Mar. 2020 - Mar. 2020
                    <br>
                    Walgreens
                    <br>
                    North Richland Hills, TX
                </p>
            </center>
            <p>
                Upon earning my Pharmacy Technician Trainee Certification, I was promoted to a Designated Hitter, enabling me to contribute within the pharmacy. My responsibilities included organizing prescriptions, operating the pharmacy cash register, and training towards becoming a Pharmacy Technician. Despite my enthusiasm and the progress made, I had to resign from this role after a month due to the pandemic.
            </p>
        </div>
    </div>
    <div class="terminal-card">
        <header>
            <b>Customer Service Associate</b>
        </header>
        <div>
            <center>
                <p>
                    Aug. 2019 - Feb. 2020
                    <br>
                    Walgreens
                    <br>
                    North Richland Hills, TX
                </p>
            </center>
            <p>
                Collaborated with a team to deliver exceptional customer service, operated the cash register, maintained shelf inventory, processed photo orders, and handled various other tasks.
            </p>
        </div>
    </div>
</div>