<!-- layouts/shortcodes/youtube-extended.html -->
{{ $id := .Get "id" }}
{{ $startAt := .Get "startAt" | default "0" }}
{{ $autoplay := cond (eq (.Get "autoplay" | default "false") "true") "1" "0" }}
{{ $title := .Get "title" | default "YouTube Video" }}
{{ $privacyEnhanced := cond (eq (.Site.Params.youtubePrivacyEnhanced | default "false") "true") "www.youtube-nocookie.com" "www.youtube.com" }}
{{ $width := .Get "width" }}
{{ $height := .Get "height" }}
{{ $centered := eq (.Get "centered" | default "false") "true" }}

{{ if $width }}
    {{ if not $height }}
        <!-- Calculate height based on a 16:9 aspect ratio -->
        {{ $aspectRatio := div 9.0 16.0 }}
        {{ $height = printf "%.0f" (mul (float $width) $aspectRatio) }}
    {{ end }}

    <iframe
        width="{{ $width }}"
        height="{{ $height }}"
        src="https://{{ $privacyEnhanced }}/embed/{{ $id }}?start={{ $startAt }}&autoplay={{ $autoplay }}"
        title="{{ $title }}"
        {{ if $centered }}style="margin:0 auto; display:block;"{{ end }}
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen>
    </iframe>

{{ else }}

    <div style="position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden;">
        <iframe
            src="https://{{ $privacyEnhanced }}/embed/{{ $id }}?start={{ $startAt }}&autoplay={{ $autoplay }}"
            title="{{ $title }}"
            style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; border:0;"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            allowfullscreen>
        </iframe>
    </div>    

{{ end }}
